body {
  font-family: Arial, sans-serif;
  background: url('/img/fundo_campo.jpeg') no-repeat center center fixed;
  background-size: cover; 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


  .quiz-container {
    background: #1f2833;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    box-shadow: 0 0 15px #000;
  }
  
  h1 {
    margin-bottom: 15px;
    color: #66fcf1;
  }
  
  .timer {
    font-size: 18px;
    margin-bottom: 10px;
    color: #45a29e;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #45a29e;
    color: #0b0c10;
    font-weight: bold;
    transition: 0.3s;
  }
  
  button:hover {
    background: #66fcf1;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    color: #f39c12;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;  
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  footer .links {
    margin-top: 10px;
    display: flex;
    gap: 20px;
  }
  
  .github-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .github-link:hover {
    color: #0400ff;
  }
  
  footer .icon {
    width: 20px;
    height: 20px;
    transition: transform 0.2s;
  }
  
  .github-link:hover .icon {
    transform: scale(1.2);
  }
  
  